@import url('./global.css');

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
  font-family: 'AdobeClean-Regular';
  src: url(./assets/fonts/Adobe/AdobeClean-Regular.woff);
}

@font-face {
  font-family: 'AdobeClean-BoldSemiCn';
  src: url(./assets/fonts/Adobe/AdobeClean-BoldSemiCn.woff);
}

#root {
  display: flex;
  position: relative;
}

.page-container {
  overflow: auto;
  height: 90vh;
  padding: 30px;
  margin-top: 64px;
}

.page-container::-webkit-scrollbar{
  width: 0;
  background: red;
}

.page-container::-webkit-scrollbar-track{
  width: 0;
  height: 0;
}

.mr-filter {
  width: 239px;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  background: #fff;
  position: relative;
  flex-direction: column;
}

.mr-label {
  font-size: 13px;
}

.mr-controls {
  width: 100%;
  display: flex;
  align-items: center;
}

.mr-controls input {
  width: 100%;
}

.modal-control select{
  width: 100%;
  height: 100%;
}

.mr-controls button {
  top: 0;
  right: 10px;
  height: 100%;
  cursor: pointer;
  position: absolute;
  margin-left: auto;
}

.modal-footer {
  gap: 10px;
  display: flex;
}

.mr-button {
  padding: 10px;
  font-weight: 500;
  border-radius: 5px;
  transition: all .2s ease;
}

.mr-button.send{
  color: #fff;
  background: #1f66ff;
}

.mr-button.default{
  color: #000;
  background: #E6E9F0;
}
